body {
    margin: 0;
    background-color: white;
    color: black;
}
body.dark {
    background-color: #121824;
    color: whitesmoke;
}
.home_and_about a {
    color: #0681ed;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.home_and_about a:hover {
  color: rgb(255, 204, 0);
}

.home_and_about {
    text-align: center;
}

body.dark .home_and_about a {
    color: whitesmoke;
}

body.dark .home_and_about a:hover {
    color: rgb(255, 204, 0);
}

#greetingMessage {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

#darkmode {
  background-color: #121824;
  color: whitesmoke;
  display: block;
  margin-top: 0;
  float: right
}

body.dark #darkmode {
    background-color: whitesmoke; 
    color: #121824;
}

#home {
  display: flex;
  background-color: rgb(121, 188, 255);
  max-width: 1100px;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}

.name {
  margin: 5px;
  font-size: 20;
  font-weight: 700;
}


.title {
  margin: 0;
  font-size: 10;
  font-style: italic;

}

#editJobBtn:hover {
  background-color: rgb(255, 204, 0);
}

.me {
  display: block;
  width: 180px;            
  height: 180px;
  border-radius: 50%;
  object-fit: cover;       
  object-position: center; 
  border: 4px solid #fff;
  
}

#Contact{
  display: flex;
  background-color: rgb(121, 188, 255);
  max-width: 2000px;
  flex-direction: column;
  justify-content: center;
}
#Contact h3 {
    margin-bottom: 1px;
    margin-left: 10px;
}
#Contact p {
    margin-left: 10px;
    margin-right: 10px;
}

.skills {
  display: flex;
  background-color: rgb(121, 188, 255);
  max-width: 1100px;
  flex-direction: column;
  justify-content: space-between;
}

.skillsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

.skills h3 {
  margin: 10px;
  padding: 0;
}

#toggleSkillsBtn {
  float: right;
  margin-top: 10px;
  padding: 0;

}

#toggleSkillsBtn:hover {
  background-color: rgb(255, 204, 0);
}

.hidden {
  display: none;
}

.skills dt {
    margin-left: 10px;
}

.skills h3 {
    margin-bottom: 1px;
    margin-left: 10px;
}
#about{
  background-color: #D3D3D3;
  max-width: 1100px;
  line-height: normal;
  text-align: justify;
  margin-top: auto;
  margin-bottom: 100;
  margin-right: auto;
  margin-left: 100;  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100;
}
#aboutMe {
    margin-bottom: 1px;
}
#about p {
    margin-left: 10px;
    margin-right: 10px;
}
#achievement {
    margin-bottom: 1px;
}
 
.messagesection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100;
  margin: 0 auto;
  padding: 20px 16px;
  background-color: #D3D3D3;
  max-width: 1100px;
}

.header {
  text-align: center;
  margin-bottom: 1px;
}
table {
    border-spacing: 20px;
    border-collapse: separate;
}
.mainContainer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
td:first-child {
    padding-right: 50px;
}
.sendButton:hover {
    background-color: rgb(255, 204, 0);  
}
.textBox {
    border: 1px solid black;
    border-radius: 2px;
}

#msgBox {
  width: 500px;
  height: 100px;
}

.characterCounter {
  color: gray;
  font-style: italic;
  font-size: small
}
.page-footer {
  background-color: rgb(121, 188, 255);
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

.page-footer p {
  margin: 5px 0;
}
